Package: dumpexec
Name: dumpexec
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: dump encrypted iOS app(include Frameworks)
Maintainer: abit
Author: abit
Section: System
Tag: role::hacker
